.challenge-header {
  text-align: center;
  margin-top: -50px;
}

.challenge-header .title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 70px;
}

.challenge-header .description, .challenge-header .type {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-top: 5px;
}

.challenge-header .instructions {
  margin-top: 0px;
}

.matchup {
  width: 100%;
  height: 75%;
}