.player-screen {
  text-align: center;
}

.left {
  color: red;
}

.right {
  color: blue;
}

.points-title {
  margin-bottom: 50px;
  text-decoration: underline;
}

.points {
  font-size: 150px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.name {
  font-size: 60px;
}